@model Contact 
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <form method="post">
                        <input type="hidden" asp-for="Id"/>
                        <label>Okundu Yap</label>
                        <input type="checkbox" asp-for="Status" />
                        <br />
                        <button type="submit" class="btn btn-warning">Okundu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

