@{
    ViewData["Title"] = "Home Page";
}


<!-- Header End -->


<section class="slider-pro slider" id="slider">
    <div class="sp-slides">

        <!-- Slides -->
        @foreach (var item in ViewBag.sliderlist)
        {

            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="~/img/@item.Image" alt="Slider 1" />

                <h1 class="sp-layer slider-text-big"
                    data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                    <span class="highlight-texts">İşinizi Kolaylaştırıyoruz.</span>
                </h1>

                <p class="sp-layer"
                   data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    İşinizi  uzman kadromuzla yazılımlar geliştirerek kolaylaştırıyoruz.
                </p>
            </div>
        }

       
    </div>
</section>

@if (TempData["Message"]!=null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

@await Component.InvokeAsync("About")

<section id="services" class="section-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                <h2><span class="highlight-text">Servisler</span></h2>

                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Sizlere tam 30 yılı aşkın süredir uzman kadromuzla profesyonel hizmetler sunmaya devam ediyoruz.</p>
            </div>


            <div class="our-services">

                @await Component.InvokeAsync("Services")

            </div>
            
        </div>
    </div>
</section>



@await Component.InvokeAsync("Portfolio")



@await Component.InvokeAsync("Istatistic")


@await Component.InvokeAsync("Team")

@await Component.InvokeAsync("Client")

<section id="contact" class="section-wrapper contact-section" data-stellar-background-ratio="0.5">
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                <h2><span class="highlight-text">İletişim Hattı</span></h2>

                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">We love feedback. Fill out the form below and we'll get back to you as soon as possible. in minus distinctio dolores ipsam.</p>
            </div>
            <!-- Section Header End -->

            <div class="contact-details">


                <!-- Contact Form -->
                <div class="contact-form wow bounceInRight">

                    <!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->
                    <form name="sentMessage" id="contactForm" novalidate asp-controller="Home" asp-action="Contact" method="post">
                        <div class="col-md-6">
                            <input type="text" class="form-control"
                                   placeholder="Ad Soyadınız" name="Fullname" required
                                   data-validation-required-message="Adınız Soyadınız" />
                            <p class="help-block"></p>
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" name="Email" placeholder="Email Adresiniz"
                                   id="email" required
                                   data-validation-required-message="Please enter your email" />
                        </div>

                        <div class="col-md-12">
                            <textarea rows="10" cols="100" class="form-control"
                                      placeholder="Mesajınız" name="Message" required
                                      data-validation-required-message="Please enter your message" minlength="5"
                                      data-validation-minlength-message="Min 5 characters"
                                      maxlength="999" style="resize:none"></textarea>
                        </div>

                        <div class="col-md-4 col-md-offset-5"><br><div id="success"> </div><button type="submit" class="btn btn-primary">Gönder</button></div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
