@model Portfolio
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <form asp-controller="AdminPortfolio" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All"></div>
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label>Resim</label>
                            <input type="file" asp-for="UploadImage" />

                            <br />
                            <label>Portfolyo</label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <br />
                            <button class="btn btn-primary" type="submit">Ekle</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


