@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Businnes, Portfolio, Corporate">
    <meta name="Author" content="WebThemez">
    <title>Kurumsal Şirket Sitesi</title>
    <link rel="stylesheet" href="~/agency/css/normalize.css">
    <link rel="stylesheet" href="~/agency/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/agency/css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/agency/elegant_font/style.css" />
    <!--[if lte IE 7]><script src="elegant_font/lte-ie7.js"></script><![endif]-->
    <link rel="stylesheet" href="~/agency/css/magnific-popup.css">
    <link rel="stylesheet" href="~/agency/css/slider-pro.css">
    <link rel="stylesheet" href="~/agency/css/owl.carousel.css">
    <link rel="stylesheet" href="~/agency/css/owl.theme.css">
    <link rel="stylesheet" href="~/agency/css/owl.transitions.css">
    <link rel="stylesheet" href="~/agency/css/animate.css">
    <link rel="stylesheet" href="~/agency/elegant_font/style.css">
    <link rel="stylesheet" href="~/agency/css/style.css">

    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <script type="text/javascript" src="js/selectivizr.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="status"></div>
    </div>

    <!-- Header End -->
    <header>
        <!-- Navigation Menu start-->

        <nav id="topNav" class="navbar navbar-default main-menu">
            <div class="container">
                <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                    ☰
                </button>
                <a class="navbar-brand page-scroll" href="#slider"><img class="logo" id="logo" src="~/agency/images/logo.png" alt="logo"></a>
                <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#slider">ANASAYFA</a>
                        </li>
                        <li>
                            <a href="#about">HAKKIMIZDA</a>
                        </li>
                        <li>
                            <a href="#services">SERVİSLER</a>
                        </li>
                        <li>
                            <a href="#portfolio">PORTFOLYO</a>
                        </li>



                        <li>
                            <a href="#team">EKİBİMİZ</a>
                        </li>
                        <li>
                            <a href="#clients">MÜŞTERİLERİMİZ</a>
                        </li>
                        <li>
                            <a href="#contact">İLETİŞİM</a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </nav>


    </header>
   
    @RenderBody()




    <!-- Contact Section End -->
    <section class="footer-container">
        <div class="container">
            <div class="row footer-containertent">
                <div class="col-md-4">
                    <img src="~/agency/images/logo.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et porro quos iste ratione doloribus asperiores, error omnis delectus rerum sapiente. Et, aliquam modi beatae quae in perferendis ab est fugiat!</p>
                </div>
                <div class="col-md-4">
                    <h4>News & Updates</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque.</p>
                </div>
                <div class="col-md-4 contac-us">
                    <h4>Contact Us</h4>
                    <p>Lorem ipsum dolor sit amet adipisicing elit.</p>
                    <ul>
                        <li><i class="fa fa-home"></i>123 New Venu Street</li>
                        <li><i class="fa fa-phone"></i>001 123 12345 99</li>
                        <li><i class="fa fa-envelope-o"></i>support@website.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <footer>

        <div class="container">
            <div class="row">
                <div class="footer-containertent">

                    <ul class="footer-social-info">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                    <br /><br />
                    <p>Copyright © 2021.  <a href="https://webthemez.com/free-bootstrap-templates/" target="_blank">Free Bootstrap Template</a> by Gökay Kalkan All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <script src="~/agency/js/jquery-1.11.3.min.js"></script>
    <script src="~/agency/js/bootstrap.min.js"></script>
    <script src="~/agency/js/modernizr.min.js"></script>
    <script src="~/agency/js/jquery.easing.1.3.js"></script>
    <script src="~/agency/js/jquery.scrollUp.min.js"></script>
    <script src="~/agency/js/jquery.easypiechart.js"></script>
    <script src="~/agency/js/isotope.pkgd.min.js"></script>
    <script src="~/agency/js/jquery.fitvids.js"></script>
    <script src="~/agency/js/jquery.stellar.min.js"></script>
    <script src="~/agency/js/jquery.waypoints.min.js"></script>
    <script src="~/agency/js/wow.min.js"></script>
    <script src="~/agency/js/jquery.nav.js"></script>
    <script src="~/agency/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/agency/js/smooth-scroll.min.js"></script>
    <script src="~/agency/js/jquery.magnific-popup.min.js"></script>
    <script src="~/agency/js/jquery.sliderPro.min.js"></script>
    <script src="~/agency/js/owl.carousel.min.js"></script>
    <script src="~/agency/contact/jqBootstrapValidation.js"></script>
    <script src="~/agency/contact/contact_me.js"></script>
    <script src="~/agency/js/custom.js"></script>

</body>
</html>
